@page "/"


<div class="homeSplash">
</div>
<div class="title">
    <MudText Typo="Typo.h2">Chart Demo</MudText>
</div>
<div class="description">
    <MudText Typo="Typo.h5">A simple MudBlazor app with Chart.js</MudText>
</div>
<style>
    .homeSplash{
        background: linear-gradient(-45deg, rgba(0, 0, 200, 0.5) 18%, rgba(255,255,255,0.2) 88% );
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        border-top-left-radius:85%;
    }
    
    .title{
        color: #F0EAD6;
        position:absolute;
        bottom:6em;
        right: 6em;
        z-index: 1;
    }

    .description {
        color: #F0EAD6;
        position: absolute;
        bottom: 4em;
        right: 8em;
        font-style: italic;
        z-index: 1;
    }
</style>